section.places{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1{
    width: 100%;
    font-size: 30px;
}

.places article h2{
    font-size: 30px;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    text-align: center;
}